<nav>
  <ul>
     <li><a href="/timeline">Timeline</a></li>
     <li><a href="/posting">Post a sighting</a></li>
     <li><a href="/profile/<%= uid %>">Profile</a></li>
     <li><a href="/logout">Log out</a></li>
     <li class="title">CritterQuest</li>
  </ul>
</nav>
