<nav>
  <ul>
     <li><a href="/timeline">timeline</a></li>
     <li><a href="/logout/">logout</a></li>
     <li><a href="/profile">profile</a></li>
     <li><a href="/posting">Post a sighting</a></li>
     <li class="title">CritterQuest</li>
  </ul>
</nav>
