<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Node Starter</title>
  <!-- load local stylesheet (css) -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- loading jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <h1>Logout</h1>
  <form class="logout" id="logout" method="POST" action="/logout" enctype="multipart/form-data">
    <p><button type="submit" name="longout">Logout</button></p>

  </form>
  <!-- load local js -->
  <script src="/main.js"></script>
</body>

</html>