<form method="GET" action="/search/" class="search">
    <p>
        <label for="search">Search:</label>
        <input type="text" name="term" id="search">
    </p>
    <p>
        <label for="kind">Kind:</label>
        <select required name="kind" id="kind">
            <option value="">Choose one</option>
            <option value="animal">Animals</option>
            <option value="location">Locations</option>
        </select>
        <label for="kind">By:</label>
        <select required name="filter" id="filter">
            <option value="default">Default (by time)</option>
            <option value="alphabetical">Alphabetically (by animal name)</option>
            <option value="user">By User</option>
        </select>
    </p>
    <p>
        <input type="submit" value="Search">
    </p>
</form>