/*Start Main *********************************************************/
body {
  background-color: #A6BB77;
}
/*Start Main *********************************************************/


/*Start Nav Bar *********************************************************/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4F772D;
  position: fixed;
  top: 0;
  width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
  background-color: #6DA33E;
}

.title {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*End Nav Bar *********************************************************/


/*Start Timeline *********************************************************/  
ul {
  list-style-type: none;
  padding-top: 30px;
}

.post {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: white;
  margin: 15px;
  
}

.image {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
  /* float: left; */
  /* padding: 20px;
  padding-right: 5px; */
}

.image img {
  /* width: 100%; */
  width: 500px;
  border-style: ridge;
}

.info {
  grid-column: 3 / span 2;
  grid-row: 1;
  /* text-align: left; */
  display: inline-block;
  /* grid-area: line1;
  display: block;
   float: right; 
  text-align: left;
  background-color: blue;
  margin-right: 50px;
  width: 100%; */
}

.time {
  grid-column: 3 / span 2;
  grid-row: 2;
}

.caption {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.likeComment {
  grid-column: 3 / span 2;
  grid-row: 4;
}

/*End Timeline *********************************************************/

/*Start Profile *********************************************************/

.username {
  padding-top: 20px;
}

/*End Profile *********************************************************/