<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>CritterQuest/title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <center>
    <%- include("../partials/search.ejs") %>
    <h2>Sorry, no <%= option %> is in the database.</h2>
    <%- include("../partials/about.ejs") %>
    </center>
    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>